

/* 
#infoBody
{
  float: left;
  width: 20%;
} */
#boardBody{
  width: 50%;
}



rect.active {
  cursor: pointer;
  fill: #eeffe9;
  
}

rect.active:hover {
  fill: #eeffff;
}

rect.highlight {
  cursor: pointer;
  fill: #FF004D;
}

circle.piece0 {
  
  
  fill: #29ADFF;
  
}
circle.piece1 {
  
  fill: #FFA300;
  
}